# Arquivos de banco de dados
*.sql

# Arquivos de log
*.log

# Diretórios de IDEs
.vscode/
.idea/
*.iml

# Arquivos temporários
*.tmp
*.swp
*.swo
*.bak
*.old

# Sistema operacional
.DS_Store
Thumbs.db
